    body {
        background: rgb(240,186,237);
    background: linear-gradient(90deg, rgba(240,186,237,0.7769958325126926) 0%, rgba(240,114,210,1) 35%, rgba(206,52,159,0.8016456582633054) 100%);
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
      }
      
      h1, h2, h3, h4, h5 {
        font-family: "Merriweather", serif;
        margin: 0;
        padding: 0;
      }
      
      p { 
        padding: 0;
        margin: 0;
      }
      
      .container {
        max-width: 1200px;
        margin: 0 auto;
        width: 90%;
      }
      
      .d-flex {
        display: flex;
      }
      
      .f-wrap {
        flex-wrap: wrap;
      }
      
      .img-reponsive {
        width: 100%;
      }
      
      .jc-spacebetween {
        justify-content: space-between;
      }
      
      .ai-center {
        align-items: center;
      }
      
      .spacersection {
        padding: 5% 0;
      }
      
      .spacercontent {
        margin-bottom: 20px;
      }
      
      .bigtitle {
        font-size: 3em;
      }
      
      .bigbtn {
        padding: 10px 20px;
        background: black;
        color: bisque;
        display: inline-block;
        text-decoration: none;
        letter-spacing: 1px;
      }
      
      .header .nav-brand h1 a {
        text-decoration: none;
        color: black;
      }
      .header .nav-menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
      }
      .header .nav-menu ul li a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: black;
      }
      .header .nav-menu ul li a:hover {
        font-weight: bold;
      }
      
      .hero-desc {
        width: 50%;
      }
      .hero-desc P {
        font-size: 100%;
        line-height: 150%;
      }
      .hero-image {
        width: 50%;
      }

.grid{
  display: grid;
  grid-template-columns: repeat(3,0fr);
  margin: 80px;
  align-items: center;
  grid-gap: 225px;
}
img{
  object-fit: cover;
}
.grid > article{
  box-shadow: 10px 5px 5px 0px black;
  border-radius: 20px;
  text-align: center;
  background: whitesmoke;
  width: 300px;
  height: 450px;
  transition: transfrom;
}

.grid > article img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}
.grid > article:hover{
transform: scale(1.2)
}
@media (max-widht:1000px){
  .grid{
    grid-template-columns: repeat(2,1fr);
  }
}
.grid .btn-outline {
  text-decoration: none;
  padding: 15px;
  background: none;
  color: rgb(11, 11, 11);
  display: inline-block;
  border: 3px solid #262525;
  font-size: 12px;
  letter-spacing: 2px;
}
